#Centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}

#CB2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);

}

#CB1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.ChoiceButton {
  width: 20%;
  height: 10%;
  background-color: rgb(114, 194, 94);
  border-color: rgb(0, 255, 123);
  color: rgb(0, 0, 0);
}

#CharName {
  border-color: aqua;
  border-width: 5%;
  position: absolute;
  top: 85%;
  left: 10%;
  transform: translate(-50%,-50%);
  text-align: left;
}

#CharSpeak {
  position: absolute;
  top: 92.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}



.CharImg {
  width: 15%;
  height: 250px;
  position: absolute;
}

#MCImg {
  top: 55%;
  left: 10%;
  transform: translate(-50%,-50%);
}

#SCImg {
  top: 55%;
  left: 90%;
  transform: translate(-50%,-50%);
}
